page-index {
    .headDiv{
        margin-top: 20%;
    }
    .headText {
        text-align: center;
     }
    .formMain {
        margin-left: 40%;
        
        .inside {
            font-size: 2dp;
             margin-left: 10%;
        }
        .alt-text{
            font-size: 2dp;
        }
        .input{
            margin-left: -4%;
        }
        .button {
           margin-left:- 4%;
        }
    }
    .alt {
        margin-left: -12%;
    }
    .img1 {
        margin-left: -12%;
    }
    .img2 {
        margin-left: -4%;
    }
}
